{% extends "base.html" %}
{% block content %}
<div class="container">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">request</th>
      <th scope="col">description</th>
      <th scope="col">name</th>
      <th scope="col">contact</th>
      <th scope="col">closed</th>
    </tr>
  </thead>
  <tbody>
    {%for i in results%}

    <tr>
      <td>{{i[5]}}</td>
      <td>{{i[0]}}</td>
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
    </tr>
{%endfor%}
  </tbody>
</table>
</div>
{% endblock %}
